@media screen and (max-width: 360px){
   
   /* Teste de resposividade
    body{
        background-color: blue;
    }*/
    *{
        margin-right: 0;
        margin-left: 0;
    }
    body{
        width: 360px;
        font-family: 'Lato', sans-serif;
        height: auto;

    }
    #menudesk{
        display: none;
    }
    
#linha{
    margin-top: 0px;
}
#buscarazul{
    display: none;
}
#retirar{
    display: none;
}
#fundoazul{
    display: none;
}
#busque{
    display: none;
}
#links{
    display: none
}
#check{
    display: none;
}
#fundobranco{
    display: none;
}
#textodesk{
    display: none;
}
#cartaovermelho{
    display: none;
}
#navp{
    display: none;
}
#check{
    display: none;
}
#profile{
    display: none;
}
#tel{
    display: none;
}
    
    #logo{
        margin-left: 35px;
    }
    
    #leiaMais{
        background-color: #F4F4F4;
        margin-left: 110px;
        border: none;
        color: #004A99;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
    }
    #content1{
        background-color: #F4F4F4;

    }
    #carrinho{
        margin-left: 310px;
        top: 0px;
        position: absolute;
    }
    #vertical-menu{
        display: none;
    }
    #search{
        position: absolute;
        top: 63px;
        margin-left: -37px;
    }
    #filter{
        top: 63px;
        margin-left: 12px;
        position: absolute;
    }
    
    #procurar{
        margin-top: 9px;
        width: 310px;
        height: 50px;
        border-color: #EAEAEA
    }
    #content1 img{
        width: 340px;
    }
    #content1 p{
        font-size: 13px;
    }
#voltar{
    margin-top: 15px;
}
    #box1 img{
        margin-bottom: 10px;
    }
    #content1 h1, p, img{
        margin-left: 10px;
        margin-right: 10px;
    }
    #box1, #box2, #box3{
        font-size: 16px;
        text-align: left;
        margin-left: 16px;
        display: flex;
        flex-wrap: wrap;
        position: relative;
     flex-direction: row;
     width: 320px;
        
    }

    #box4, #box5, #box6, #box7{
        font-size: 20px;
        text-align: left;
        margin-left: 16px;
        width: 322px;
        display: flex;
        flex-wrap: wrap;
        position: relative;
        flex-direction: row;
        width: 320px;
        
    }
    .cartao img{
        width: 340px;
    }
.mais{        
    top: 16px;
    position: absolute;

    }
.footerTitle{
    font-size: 22px;
}
#infos img{
    width: 340px;
}
    .plusButton{
        margin-left: 280px;
        
    }

    #box1, #box2{
        border-bottom: 1px rgba(112, 112, 112, 0.3) solid;
        


    }
    .awareness{
        background-color: #F4F4F4;
        
    }
    .awareness p{
        font-size: 12px;
    }
#imgFooter{
    margin-left: 0px;
}
#ouro, #lets{
    margin-left: 20px;
}
#infos hr{
    opacity: 0.3;
}
#copyright p{
    font-size: 12px;
    font-family: 'Lato', sans-serif;
}
#mechanics #devwith{
    width: 147px;
    height: 16px;
    
}
#mechanics #rocketflow{
        width: 10px;
        height: 16px;
        z-index: 10;
        margin-left: -50px;
}
#mechanics #powered{
    width: 122px;
    height: 16px
}
#mechanics #corebiz{
    margin-bottom: 2px;
    
    width: 59px;
    margin-left: 16px;

    height: 12px;
}
    #imgFooter #vtex{
        width: 95px;
        height: 64px;
        }
    #imgFooter #ouro{
        width: 61px;
        height: 58px;
    }
    #imgFooter #lets{
        width: 70px;
        height: 54px;
    }

    #icones{

        background-color: #004A99;
        height: 60px;     
    }
    #faceIcon, #twittIcon, #youtIcon, #instaIcon{
        margin-left: 15px;
        margin-bottom: 20px;
    }
    #setaCima{
        
        margin-left: 86px;
        width: 60px;
        height: 60px;
    }
    #email{
        display: none;
    }


}
@media screen and (min-width: 361px) and (max-width:1920px){
    *{
        margin-right: 0;
        margin-left: 0;
    }

    body{
        width: 1920px;
        font-family: 'Lato', sans-serif;
        height: auto;
    }

    #menu{
        display: none;

    }
        #vertical-menu a {
            color: black;
            display: block;
            padding: 12px 12px 12px 72px;
            text-decoration: none;
          }
          #navp{
            position: absolute;
            width: 303px;
            text-align: center;
            font-weight: bold;
            top: -210px;
            height: 25px;
            padding: 9px;
            border: 1px solid rgba(112, 112, 112, 0.1);
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
          }
          #vertical-menu{
              width: 324px;
              position: absolute;
              
          }
          #vertical-menu li{
              list-style: none;
              border: 1px solid rgba(112, 112, 112, 0.1);
              
          }
          #vertical-menu ul{
            top: -164px;
            width: 324px;
            margin-left: -40px;
            position: absolute;
          }
          
          #vertical-menu a:hover {
            background-color: #ccc;
          }
          
          #vertical-menu a.active {
            text-align: center;
            font-size: 16px
}
#logo{
    width: 225px;
    height: 34px;
    margin-left: 34px;
    margin-top: 13px;
    margin-bottom: 13px;
    margin-right: 64px;
}
#carrinho{
    display: none;

}
#procurar{
    width: 461px;
    height: 45px;
    margin-left: 5px;
    margin-top: 13px;
        position: relative;
    top: -25px;

}
#search{
    position: absolute;
    top: 28px;
    margin-left: -445px;
}
#fundoazul{
    position: relative;
    top: -7px;
}
#buscarazul{
    color: white;
    position: relative;
    margin-left: 822px;
    top: -74px;
}
#fundobranco {
    position: relative;
    top: -120px;
    margin-left: 912px;
}
#busque{
    position: relative;
    top: -172px;
    margin-left: 969px;
    color: #004A99;
}
#linha{
    display: none;
}
#leiaMais{
    display: none;
}
/*
#links{
    width: 300px;
    display: none
}
*/
#voltar{
    display: none;
}
#filter{
    position: relative;
    top: -220px;
    margin-left: 929px;
}

#check{
    margin-left: 185px;
    position: relative;
    top: -220px;
}
#textomobile{
    display: none;
}

#profile{
    position: relative;
    top: -220px;
    margin-left: 56px;
}
#tel{
    position: relative;
    top: -220px;
    margin-left: 56px;
}
#retirar{
    position: relative;
    top: -208px;
    margin-left: 81px;
}
#cabecalho{
    height: 130px;
}
#textodesk{
    margin-top: -20px;
}
#content{
    margin-left: 324px;
    
}
#content1{
 background-color:#F4F4F4;
}
#content1 img{
    float: left;
}

#content{
    width: 1261px;
}
#boxes{
    margin-top: 70px;
    font-size: 18px;
    
}
#box1, #box2, #box3{
    border: 1px solid rgba(112, 112, 112, 0.2);
    display: flex;
    flex-wrap: wrap;
    position: relative;
 flex-direction: row;
 width: 1260px;
}
.mais{        
    top: 16px;
    position: absolute;
    margin-left: 1230px;

    }
    #email{
        width: 1920px;
        margin-left: -324px;
        background-color: #f4f4f4;
        height: 284px;
    }
#mail{
    width: 240px;
    height: 240px;
    margin-left: 432px;
    float: left;
    margin-top: 20px;
    margin-right: 110px;

}
#inputs input[type="checkbox"]{
    width: 25px;
    height: 25px;
    
}   
#accept{
    margin-left: 50px;
}

#inputs input{
    margin-top: 20px;
    width: 300px;
    height: 36px;
    border: 1px solid #8F909E;
    margin-left: 20px;
    background-color: #FFFFFF;

}
#cartaovermelho {
    margin-top: 70px;
}
#cartaovermelho img{
    float: left;
}
#icones{
    margin-top: 30px;
    margin-left: -324px;
    background-color: #004A99;
    width: 1920px;
    height: 61px;
}
#faceIcon, #instaIcon, #twittIcon, #youtIcon{
    margin-bottom: -25px;
    margin-left: 53PX;
}
#faceIcon{
    margin-left: 325px;
}
.menuicon{
    position: absolute;
    left: 70px;
}
.ir{
    position: absolute;
    left: 320px;
}
#dropdown{
    position: absolute;
    left: 270px;
}
#setaCima{
    margin-top: -30px;
    margin-left: 1531px;
}
#cartaovermelho p{
    margin-top: 10px;
    margin-left: 550px;
}
#cartaovermelho #titlecartao{
    margin-left: 0;
}
#voltar1, .cartao{
    display: none;
}
#inputs input[type="submit"]{
    background-color: #004A99;
    color: white;
}
#boxes2{
    display: none;
}
}